.main {
  /* height: 100vh; */
}

.main .form {
  background: #80E6CF;
  /* opacity: 1; */
  -webkit-box-shadow: 2px -1px 51px 3px rgba(128, 230, 207, 0.26);
  -moz-box-shadow: 2px -1px 51px 3px rgba(128, 230, 207, 0.26);
  box-shadow: 2px -1px 51px 3px rgba(128, 230, 207, 0.26);
  border-radius: 10px;
  margin-top: 150px;
}

.main .form .main-form {
  padding: 20px 10px;
}

.main .form .main-form .btn {
  transition: 0.5s linear all;
}

.main .form .main-form .btn:hover {
  background-color: #80E6CF;
  color: red;
}